.heading{
    background-color: aqua;
    padding: 20px;
}

.second{
    background-color: bisque;
    padding: 10px;
    color: blue;
}

.third{
    text-align: center;
    padding: 10px ;
    background-color: burlywood;
    border: 5px solid rgb(250, 114, 114);
    box-shadow: 10px 5px 20px red;
    
}

